#allproducts1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}


#allproducts2 {
    height: 300px;
    width: 23%;
    margin-bottom: 20px;
    border: 1px solid red;
    text-align: center;
    /* overflow-y: scroll; */


}


#allproducts2 p {
    margin: auto;
    width: 80%;
    /* font-size: 10px; */
}


#allproducts3 {
    height: 150px;


}